@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome India</h1>
    <p>Tortoise Git Changes <a href="https://docs.microsoft.com/aspnet/core">Deploying into git ASP.NET Core</a>.</p>
    <h1 class="display-4">Welcome India</h1>
    <p>Tortoise Git Changes <a href="https://docs.microsoft.com/aspnet/core">Deploying into git ASP.NET Core</a>.</p>
</div>
